<%= error_messages_for 'index_series' %>

<!--[form:index_series]-->
<p><label for="index_series_series">Series</label><br/>
<%= text_field 'index_series', 'series'  %></p>

<p><label for="index_series_seq">Seq</label><br/>
<%= text_field 'index_series', 'seq'  %></p>

<p><label for="index_series_column_name">Column name</label><br/>
<%= text_field 'index_series', 'column_name'  %></p>
<!--[eoform:index_series]-->

