<% for column in IndexSeries.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @index_series.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @index_series %> |
<%= link_to 'Back', :action => 'list' %>
