<%= error_messages_for 'table_trees' %>

<!--[form:table_trees]-->
<p><label for="table_trees_relationship">Relationship</label><br/>
<%= text_field 'table_trees', 'relationship'  %></p>

<p><label for="table_trees_table_name">Table name</label><br/>
<%= text_field 'table_trees', 'table_name'  %></p>
<!--[eoform:table_trees]-->

