<% for column in TableTrees.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @table_trees.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @table_trees %> |
<%= link_to 'Back', :action => 'list' %>
