<% for column in Column.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @column.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @column %> |
<%= link_to 'Back', :action => 'list' %>
