<%= error_messages_for 'table' %>

<!--[form:table]-->
<p><label for="table_name">Name</label><br/>
<%= text_field 'table', 'name'  %></p>

<p><label for="table_description">Description</label><br/>
<%= text_field 'table', 'description'  %></p>

<p><label for="table_table_type">Table type</label><br/>
<%= text_field 'table', 'table_type'  %></p>
<!--[eoform:table]-->

